<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 是否打印SQL -->
        <property name="show_sql">true</property>
        
        <!-- 是否格式化SQL -->
        <property name="format_sql">true</property>

        <!-- 自动生成表策略-->
        <property name="hbm2ddl.auto">create</property>

        <!-- 数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

    </session-factory>
</hibernate-configuration>